In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('../data/ukpopestimatesmid2021on2021geographyfinal.xls', sheet_name='MYE2 - Persons', header=[7])

allAges = pd.DataFrame()

cols = ['Code', 'Name', 'Geography', 'All ages']
allAges = df[cols]
allAges

          Code                     Name                  Geography  All ages
0    K02000001           UNITED KINGDOM                    Country  67026292
1    K03000001            GREAT BRITAIN                    Country  65121729
2    K04000001        ENGLAND AND WALES                    Country  59641829
3    E92000001                  ENGLAND                    Country  56536419
4    E12000001               NORTH EAST                     Region   2646772
..         ...                      ...                        ...       ...
415  N09000006      Fermanagh and Omagh  Local Government District    116926
416  N09000007  Lisburn and Castlereagh  Local Government District    149272
417  N09000008      Mid and East Antrim  Local Government District    139127
418  N09000009               Mid Ulster  Local Government District    150598
419  N09000010   Newry, Mourne and Down  Local Government District    182345

[420 rows x 4 columns]

In [9]:
allAges.to_excel('../data/processed/populationUK.xlsx')